.a{
    height:75%;
    width:95%;
    font-family:sans-serif;
    margin-top:3%;
    float:right;
}
.b{
    height:100%;
    width:35%;
    float:right;
    
}
.c{
    height:100%;
    width:100%;
}
.d{
    height:25%;
    width:50%;
    
    margin-top:3%;
    font-size:45px;
    font-family:sans-serif;
}
.e{
    line-height:1.6;
    height:15%;
    width:50%;
    
    margin-top:1%;
    font-family:sans-serif;
}
.f{ 
    margin-top:3%;
    height:40%;
    width:60%;
    
    
}
.g{
    height:100%;
    width:32%;
    box-shadow:-2px -2px 2px 2px lightgray,2px 2px 2px 2px lightgray;
    border-radius:10px;
    margin-right:1%;
    float:left;
    background-color:rgb(242, 243, 235)
}
.h{
    height:25%;
    margin-top:20%;
    margin-left:15%;
    float:left;
    width:70%;
    border-radius:10px;
    background-color:teal;
    text-align:center;
    color:white;
    font-size:12px;
    font-family:sans-serif;
}
.i{
    height:10%;
    width:75%;
    
    margin-top:55%;
    margin-left:12%;
    font-family:sans-serif;
    font-size:13px;
}
.j{
    height:4%;
    width:98%;
    border-top-right-radius:10px;
    border-top-left-radius: 10px;;
    
}
.k{
    height:5%;
    width:70%;
    
    margin-top:50%;
    margin-left:15%;
    text-align:center;
    font-size:30px;
    font-family:sans-serif;
    font-weight:lighter;
    
}
.l{
    height:5%;
    width:70%;
    
    margin:auto;
    margin-top:2%;
}
.l1{
    background-color:white;
    height:100%;
    width:23%;
    border:none;
}

.m{
    height:40%;
    width:80%;
    margin:auto;
    
    margin-top:2%;
    
}
.n{
    height:100%;
    width:22%;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    float:left;
    margin-right:2%;
}
.n1{
    height:50%;
    width:100%;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.n2{
    font-family: sans-serif;
    color:rgb(59, 60, 61);
    margin-left:5%;
    margin-top:5%;
    font-weight:bold;
}
.n3{
    font-family: sans-serif;
    color:rgb(59, 60, 61);
    margin-left:5%;
    margin-top:5%;
}
.n4{
    height:100%;
    width:100%;
}

.p{
    height:6%;
    width:85%;
    
    margin-top:2%;
    margin-left:5%;
}
.p1{
    height:100%;
    width:16%;
    
    float:left;
}
.p10{
    height:100%;
    width:100%;
}
.p2{
    height:100%;
    width:16%;
    
    float:right;
}
.p20{
    height:90%;
    width:80%;
    background-color:teal;
    margin:auto;
    float:left;
    border-radius:5px;
    color:white;
    font-family:sans-serif;
}
.p3{
    height:100%;
    width:64%;
    
    float:right;
}
.p30{
    height:100%;
    width:23%;
    
    float:left;
    font-family:sans-serif;
    text-align:center;
    margin-bottom:10%;
    padding:0%;

}


ul{
    margin:0px;
    padding:0px;
}
ul li{
    background-color:white;
    border:1px solid white;
    width:150px;
    height:100%;
    line-height:30px;
    float:left;
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
    list-style:none;
    position:relative;
}

ul li a{
    color:black;
    text-decoration:none;
    display:block;
}
ul li a:hover{
    background-color:lightcyan;
}
ul li ul li {
    display:none;
}
ul li:hover ul li{
    display:block;
    
}
ul li ul li{
    height:80%;
}





/*course style*/
.ca{
    height:90%;
    width:85%;
    margin-top:3%;
    margin-left:5%;
    border:1px solid white;
    border-radius:10px;
    box-shadow:-2px -2px 2px 2px lightgray,2px 2px 2px 2px lightgray;
    
    border-radius:10px;
    background-image:url("https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/7vztwsHm7aveL29tXFlTXh/9ec4f9470e12edf85f910c1d1f2d0c9f/DSGN-1158_Hero-BG_1180x624.jpg")
    
}
.ca1{
    height:10%;
    width:50%;
    margin-top:15%;
    margin-left:22%;
    
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-size:36px;
    text-align:center;
    color:white;
}
.ca2{
    height:10%;
    width:70%;
    
    margin-left:12%;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
}

.ca3{
    height:10%;
    width:50%;
    
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    margin-left:22%;
    float:left;
    color:white;
}
.ca3 button{
    background-color:teal;
    height:90%;
    width:45%;
    color:white;
}
.cb{
    height:30%;
    width:60%;
    border:solid 1px white;
    margin-top:2%;
    margin-left:18%;
    box-shadow:-2px -2px 2px 2px lightgray,2px 2px 2px 2px lightgray;
    border-radius:10px;
    
    
}
.cb1{
    height:100%;
    width:33%;
    border:solid 1px white;
    float:left;
}

.cb10{
    height:10%;
    width:80%;
    border:solid 1px white;
    margin-top:20%;
    margin-left:10%;
    color:gray;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing:2px;
}

.cb11{
    height:15%;
    width:85%;
    border:solid 1px white;
    font-size:20px;
    margin-top:5%;
    margin-left:10%;
    font-family:Arial, Helvetica, sans-serif;
}

.cc{
    height:30%;
    width:100%;
    border:solid 1px gray;
    margin-top:2%;
    background-color:rgb(238, 245, 245);
}
.cc1{
    height:10%;
    width:20%;
    
    margin-left:40%;
    margin-top:3%;
    letter-spacing:2px;
    color:gray;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}
.cc2{
    height:40%;
    width:10%;
    
    margin-left:45%;
    margin-top:1%;

}
.cd{
    height:7%;
    width:25%;
    border:solid 1px white;
    margin-top:2%;
    margin-left:2%;
    font-size:36px;
    font-family:Arial, Helvetica, sans-serif;
}
.ce{
    height:50%;
    width:90%;
    border:solid 1px white;
    margin-left:5%;
    margin-top:2%;
    box-shadow:-2px -2px 2px 2px lightgray,2px 2px 2px 2px lightgray;
    border-radius:10px;
}
.ce1{
    width:40%;
    height:100%;
    border:solid 1px white;
    float:right;
}
.ce10{
    width:100%;
    height:100%;
}
.ce2{
    height:12%;
    width:20%;
    border:solid 1px white;
    margin-top:2%;
    margin-left:2%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:28px;
    font-weight: lighter;
}
.ce3{
    height:30%;
    width:45%;
    
    margin-left:2%;;
    margin-top:2%;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
    line-height:25px;
}

.caa{
    height:90%;
    width:85%;
    margin-top:3%;
    margin-left:5%;
    border:1px solid white;
    border-radius:10px;
    box-shadow:-2px -2px 2px 2px lightgray,2px 2px 2px 2px lightgray;
    
    border-radius:10px;
    background-image:url("https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/dmk0g1yK9RZZIKY944rYa/ff463701dc570677ae9a73fccfcbee6f/ND025_-_hero_bg_image.jpg")

}

.caaa{
    height:90%;
    width:85%;
    margin-top:3%;
    margin-left:5%;
    border:1px solid white;
    border-radius:10px;
    box-shadow:-2px -2px 2px 2px lightgray,2px 2px 2px 2px lightgray;
    background-image:url("https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/48s5ydBPYT9MhNcz5v4MnT/7a719c2731e9e7e522657f403067fb7b/ndHero-course-darkened_.jpg");
    border-radius:10px;}

.chealth{
background-image:url("https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/3ifaxTZITXDmUJ8CSYUgry/123099a8296bff28984645a6661490a4/hero-bg-1180x624__5_.jpg");
height:90%;
    width:85%;
    margin-top:3%;
    margin-left:5%;
    border:1px solid white;
    border-radius:10px;
    box-shadow:-2px -2px 2px 2px lightgray,2px 2px 2px 2px lightgray;
    border-radius:10px;
}







/*footer style*/
#footer {
    margin-top: 0px;
   
}
#imglogo {
    width: 30px;
    margin-top: 20px;
}
#imagelogolay{
    margin: auto;
    width: 76%;
}
#whole-body-content {
    margin:auto;
    width:80%;
    height:fit-content;
    background: transparent;
    display:grid;
    grid-template-columns: 22% 25% 25% 15% 15%;
    font-size: 10px;
}
.content5 {
    line-height: 1.5rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    text-transform: uppercase;
    /* font-weight: 550; */
    color: #6a7680;
    padding: .75rem 1.5rem;
    margin-bottom: .5rem;
    position: relative;
    font-family: arial;
 }
 .content5 .boldtext {
     font-weight: 750;
     letter-spacing: .125rem;
     margin-bottom: 15px;
     color: rgb(63, 83, 83);
 }
 .content5 p {
     margin-bottom: 20px;
 }
 .br {
     border: 0.5px solid rgb(170, 179, 179);
     width: 80%;
     margin: auto;
 }
 .policy {
     justify-content: space-between;
     width:80%;
     margin: auto;
     display: flex;
     flex-direction: row;
     font-family: Arial, Helvetica, sans-serif;
     margin-top: 20px;
     letter-spacing: .130rem;
     font-size: 13px;
     color: rgb(63, 83, 83);  
 }
 .v{
     padding-right: 15px;
 }
 .end {
    color: rgb(63, 83, 83); 
    width:60%;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 400;
    margin-top: 15px;
 }
 .end1 {
     margin: auto;
     align-items: center;
     margin-bottom: 10px;
 }
 .end2 {
     margin: auto;
     align-items: center;
 }

 #backimg {
    width:100%;
    background-image: url("https://www.udacity.com/assets/iridium/images/nanodegree-overview/shared/degree-pricing-card/canonical-degree-pricing-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}
.box-cont {
    width:60%;
    margin: auto;
    margin-top: 2%;
    height: 100%;
    display: grid;
    grid-template-columns: 45% 43%;
    grid-gap: 2%;
    justify-content:space-around;
}
.boxcont1{
    margin: auto;
    width: 100%;
    height: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    font-weight: lighter;
    color: #525c65;
    line-height: 24px;
    box-shadow: 5px 5px 25px 0 rgb(46 61 73 / 20%);
}
.full-stack {
    font-size: 1.75rem;
    margin-bottom: 30px;
    margin-top: 30px;
    color: black;
}
.learn img {
    float: left;
}
/* .learn {
    margin-top: 30px;
} */
.boxcont2{
    margin: auto;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
    justify-content: space-between;
    display: flex;
   flex-direction: column;
}
.boxcont3{
    margin: auto;
    width: 100%;
    height: 24%;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 25px 0 rgb(46 61 73 / 20%);
}
.boxcont-bor {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    color: #525c65;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .120rem;
}
.new-per {
    color: black;
    font-size: 14px;
}
.new-per img {
    float: right;
    padding-left: 0px;
}
.save {
    color: #525c65;
    font-size: 14px;
}
.btn10  {
    color: #fff;
    background-color: #ad3959;
    border: .125rem solid transparent;
    align-items: center;
    width: 100%;
    height: 50px;
    font-weight: 600;
    border-radius: 5px;
    justify-content: center;
    letter-spacing: .125rem;

}
.boxcont4{
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    height: 55%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 25px 0 rgb(46 61 73 / 20%);
}
.boxcont4-bor {
    position: relative;
    width: 85%;
    margin: 0 auto 2rem;
    border-radius: .375rem;
    background-color: #fff;
}
.boxcont5-bor {
    position: relative;
    width: 85%;
    margin: auto;
    border-radius: .375rem;
    background-color: #fff;
}
.monfor {
    font-size: 14px;
    color: #525c65;
    letter-spacing: .125rem;
    font-family: sans-serif;
    margin-top: 10px;
}
.monfor2 {
    font-size: 14px;
    color: #525c65;
    letter-spacing: .125rem;
    font-family: sans-serif;
    margin-top: 8px;
}
.bigger {
    font-size: 35px;
    color:#017a9b;
    margin-top: 10px;
}
.smaller {
    font-size: 18px;
    color: black;
    padding-left: 10px;
}
.bigger2 {
    font-size: 35px;
    color:#017a9b;
    margin-top: 8px;
}
.smaller2 {
    font-size: 18px;
    color: black;
    padding-left: 10px;
}
.btn12  {
    color: #fff;
    background-color: #017a9b;
    border: .125rem solid transparent;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 0px;
    font-weight: 600;
    border-radius: 5px;
    justify-content: center;
    letter-spacing: .125rem;
}
.btn13  {
    color: #fff;
    background-color: #017a9b;
    border: .125rem solid transparent;
    align-items: center;
    margin: auto;
    margin-left: 25%;
    width: 50%;
    height: 40px;
    margin-top: 0px;
    font-weight: 600;
    border-radius: 5px;
    justify-content: center;
    letter-spacing: .125rem;
}
.text25 {
    color: #525c65;
    letter-spacing: .100rem;
    font-size: 13px;
    font-family: sans-serif;
}
.text27 {
    color: #525c65;
    letter-spacing: .100rem;
    font-size: 11px;
    font-family: sans-serif;
}
.bottom-tag img {
    width:80px;
    margin-left: 5px;
    align-items: center;
}
.text26 {
    float:right;
    color: rgb(36, 41, 40);
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: .100rem;
    margin-right: 1%;
}
.btn9 {
    font-size: 11px;
    font-family: sans-serif;
    font-weight: 550;
    letter-spacing: .120rem;
    color: rgb(31, 110, 255);
    border:white;
    margin-bottom: 1%;
    background-color: none;
}

    .boxcont5{
    margin: auto;
    width: 100%;
    height: 27%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 25px 0 rgb(46 61 73 / 20%);
}
.bor-for-box {
    width: 72%;
    text-align: left;
    margin: auto;
}
.get-stat {
    background-color: teal;
    color: white !important;
    margin-top: 3px;
    border-radius: 2px;
    text-align: center;
    width: inherit;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px 5px;
    letter-spacing: .125rem;
    font-size: 14px;
    color: #494f53;
    font-family: Open Sans,sans-serif;
}